* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV BAR 1 START */
.navbar1 {
    font-family: arial;
    text-align: center;
    background: linear-gradient(to bottom, #c6ffdd, #fbd786, #f7797d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar1 ul li {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.navbar1 ul li a {
    text-decoration: none;
    color: rgb(24, 27, 17);
    padding: 15px 25px;
    display: block;
}

.navbar1 ul li::before {
    content: "";
    width: 50%;
    height: 0%;
    background-color: #9ccd6c;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    transition: 0.7s;
}

.navbar1 ul li:hover::before {
    height: 100%;
}

.navbar1 ul li::after {
    content: "";
    width: 50%;
    height: 0%;
    background-color: #383189;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: 0.7s;
}

.navbar1 ul li:hover::after {
    height: 100%;
}

/* NAV BAR 1 END */

/* NAV BAR 2 START */
.navbar2 {
    font-family: arial;
    text-align: center;
    background: linear-gradient(to bottom, #1f4037, #99f2c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar2 ul li {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.navbar2 ul li a {
    text-decoration: none;
    color: rgb(32, 31, 31);
    padding: 15px 25px;
    display: block;
}

.navbar2 ul li::before {
    content: "";
    width: 0%;
    height: 50%;
    background-color: #4cd3a1;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    transition: 0.7s;
}

.navbar2 ul li:hover::before {
    width: 100%;
}

.navbar2 ul li::after {
    content: "";
    width: 0%;
    height: 50%;
    background-color: #3fc966;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: 0.7s;
}

.navbar2 ul li:hover::after {
    width: 100%;
}

/* NAV BAR 2 END */

/* NAV BAR 3 START */
.navbar3 {
    font-family: arial;
    text-align: center;
    background: linear-gradient(to bottom, #544a7d, #ffd452); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar3 ul li {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.navbar3 ul li a {
    text-decoration: none;
    color: rgb(22, 24, 23);
    padding: 15px 25px;
    display: block;
}

.navbar3 ul li::before {
    content: "";
    width: 0%;
    height: 100%;
    background-color: #3bc0cd;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    transition: 0.7s;
}

.navbar3 ul li:hover::before {
    width: 50%;
}

.navbar3 ul li::after {
    content: "";
    width: 0%;
    height: 100%;
    background-color: #65c723;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: 0.7s;
}

.navbar3 ul li:hover::after {
    width: 50%;
}

/* NAV BAR 3 END */

/* NAV BAR 4 START */
.navbar4 {
    font-family: arial;
    text-align: center;
    background: linear-gradient(to right, #304352, #d7d2cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar4 ul li {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.navbar4 ul li a {
    text-decoration: none;
    color: rgb(8, 3, 8);
    padding: 15px 25px;
    display: block;
}

.navbar4 ul li::before {
    content: "";
    width: 0%;
    height: 100%;
    background-color: #a3c11b;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: 0.7s;
}

.navbar4 ul li:hover::before {
    width: 100%;
}

/* NAV BAR 4 END */

